{# The view controller #}
{% set output = content['game'].setup_view(user_id) %}

{# Waiting for other player to pick leaders #}
{% if output['state']=='Pick Leaders - Waiting' %}

    Waiting for {{output['Text']}}
    
{# Pick leader #}
{% elseif output['state']=='Pick Leaders - Picking' %}

    Your turn to choose a leader for your party :<br><br>
    <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'setup_PickLeader'} ) }}">
        <fieldset>
            <div class="control-group">
                <div class="controls">
                {% for senator in output['senatorList'] %}
                    <label class="radio">
                        <input type="radio" name="senatorID" value="{{senator['SenatorID']}}">{{senator['name']}}
                    </label>
                {% endfor %}
                </div>    
            </div>
        </fieldset>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-info">DONE</button>
            </div>
        </div>
    </form>

{# Waiting for other players to play cards #}
{% elseif output['state']=='Play Cards - Waiting' %}
    
    Waiting for {{output['Text']}}

{# Play cards : Statemen & Concessions OR Done #}
{% elseif output['state']=='Play Cards' %}

    Your turn to play cards :<br>
    
    {# Play Statemen #}
    {% if output['PlayStatemen']%}
        STATEMAN :
        <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'revolution_playStatesman'} ) }}">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                    {% for statesman in output['Statemen'] %}
                        <label class="radio">
                            <input type="radio" name="card_id" value="{{statesman['card_id']}}">{{statesman['message']}}
                        </label>
                    {% endfor %}
                    </div>    
                </div>
            </fieldset>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Play Statesman</button>
                </div>
            </div>
        </form>
    {% else %}
        No Statesman to play<br>
    {% endif%}

    {# Play Concessions#}
    {% if output['PlayConcessions']%}
        CONCESSION :
        <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'revolution_playConcession'} ) }}">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                    {% for concession in output['Concessions'] %}
                        <label class="radio">
                            <input type="radio" name="card_id" value="{{concession['card_id']}}">{{concession['message']}}
                        </label>
                    {% endfor %}
                    On Senator :
                    {% for senator in output['Senators'] %}
                        <label class="radio">
                            <input type="radio" name="senator_id" value="{{senator.senatorID}}">{{senator.name}}
                        </label>
                    {% endfor %}
                    </div>    
                </div>
            </fieldset>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Play Concession on Senator</button>
                </div>
            </div>
        </form>
    {% else %}
        No Concession to play<br>
    {% endif %}

{# Setup done #}
<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'setup_Finished'} ) }}">
    <button type="submit" class="btn btn-info">DONE</button>            
</form>

{% endif %}

