<h4>{{party.name}}</h4>
Leader : <b>
{%if party.leaderID is defined and content['game'].getSenatorWithID(party.leaderID) != FALSE %}
{{content['game'].getSenatorWithID(party.leaderID).name}}
{% else %}
None
{% endif %}</b>, 
Treasury is <b>{{party.treasury>0 ? 'not '}}empty</b>, 
player has <b>{{party.hand.nbCards()}} card{{party.hand.nbCards()!=1 ? 's' : ''}}</b> in hand.
Current vote total : <b>{{party.getTotalVotes()}}</b><br>
<div class="row">
{% for senator in party.senators.cards %}
    <div class="span3">
    {% embed "action_viewSenator.twig" with {'senator': senator , 'leader' : party.leaderID==senator.senatorID } only %}
    {% endembed %}
    </div>
{% endfor %}
</div>
