{# PARTY NAME #}
{% if self %}
    YOUR PARTY : <b>{{party.name}}</b>
{% else %}
    <b>{{party.fullName()}}</b>
{% endif %}

{# PARTY LEADER #}
| LEADER: 
{% set leader = content['game'].getSenatorWithID(party.leaderID) %}
{% if leader!=FALSE %}
    <b>{{leader.name}}</b>
{% else %}
    NONE
{% endif %}

{# TREASURY #}
{% if self %}
    | Treasury: <b>{{ party.treasury}} T</b>
{% else %}
    | Treasury is {{ (party.treasury>0) ? 'not ' : '' }}empty </b>
{% endif %}

{# VOTES #}
| Current vote total : <b>{{party.getTotalVotes()}}</b>

{# CARDS IN HAND FOR NON-SELF #}
{% if not self %}
| Player has <b>{{party.hand.nbCards()}} card{{party.hand.nbCards()!=1 ? 's' : ''}}</b> in hand
{% endif %}

{# SENATORS LIST #}
<br>
<div class="row">
{% for senator in party.senators.cards %}
    {% embed "action_viewCardCSS.twig" with {'card': senator , 'leader' : party.leaderID==senator.senatorID } only %}
    {% endembed %}
{% endfor %}
</div>
