{% block myJavascript %}
<script type="text/javascript">
  function updateAmount() {
      x = fromRaw.value.indexOf("|"); 
      y = fromRaw.value.indexOf("|",x+1);
      value =  fromRaw.value.substr(y+1) ;
      while ( amount.options.length ) amount.options[0] = null ;
      for ( i = 1; i <= value; i++ ) {
          option = new Option( i , i );
          amount.options[amount.length] = option;
      }
  }
  updateAmount();
</script>
{% endblock %}  

{# BASE SUBPHASE#}
{% if content['game'].subPhase=='Base' %}
Sub phase : Collect revenue<br>

    {# ALREADY PLAYED - WAIT #}
    {% if content['game'].party[user_id].phase_done%}
Waiting for 
        {% for current_user_id in content['game'].party %}
            {% if content['game'].party[current_user_id.user_id].phase_done==FALSE %}
                {{ app['user.manager'].getUser(current_user_id.user_id).getName }} ,
            {% endif %}
        {% endfor %}
            
    {# HASN'T PLAYED YET - PLAY #}
    {% else %}
        {% set revenueBase = content['game'].revenue_base(user_id) %}
Revenue collected from {{revenueBase['senators']}} senators : {{revenueBase['senators']}}<br>
Revenue collected from Leader {{revenueBase['leader']}} : 3<br>
Revenue collected from {{revenueBase['knights']}} knights : {{revenueBase['knights']}}<br>
Revenue collected from concessions :<br>
        {% for concession in revenueBase['concessions'] %}
{{concession['income']}} from {{concession['name']}} ({{concession['senator_name']}})<br>
        {% endfor %}
<br>
Total base revenue : {{ revenueBase['total'] }}<br>
<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'revenue_ProvincialSPoils'} ) }}">
        {%if revenueBase['provinces']|length == 0 %}
No revenue from Provinces<br>
        {%else%}
Revenue from Provincial spoils :<br>
    <fieldset>
            {% for province in revenueBase['provinces'] %}
        <div class="control-group">
            <label class="control-label">{{ province['province'].name }} ({{province['senator'].name}})</label>
                <div class="controls">
                    <select name="{{province['province'].id}}">
                        <option value="YES" selected>Take spoils</option>
                        <option value="NO">Don't take spoils</option>
                    </select>
                    <select name="{{province['province'].id}}_LET_ROME_PAY">
                        <option value="YES" selected>Let Rome pay if negative</option>
                        <option value="NO">Let Senator pay if negative</option>
                    </select>
                </div>
        </div>
            {% endfor %}
    </fieldset>
        {%endif%}
    <button type="submit" class="btn btn-info">DONE</button>
</form>
    {% endif %}

{# REDISTRIBUTION SUBPHASE#}
{% elseif content['game'].subPhase=='Redistribution' %}
    {# ALREADY PLAYED - WAIT #}
    {% if content['game'].party[user_id].phase_done%}
    Waiting for 
        {% for current_user_id in content['game'].party %}
            {% if content['game'].party[current_user_id.user_id].phase_done==FALSE %}
                {{ app['user.manager'].getUser(current_user_id.user_id).getName }} ,
            {% endif %}
        {% endfor %}

    {# HASN'T PLAYED YET - PLAY #}
    {% else %}
<br>
<form class="form-horizontal" id="redistribution" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'revenue_Redistribution'} ) }}">
    <fieldset>
Give from 
        <select id="fromRaw" name="fromRaw" onClick="updateAmount()">
            {% for listRedistribute in content['game'].revenue_ListRedistribute(user_id) %}
            {% if listRedistribute['list']=='from' %}
            <option value="{{listRedistribute['type']}}|{{listRedistribute['id']}}|{{listRedistribute['treasury']}}">
                {{(( listRedistribute['type']=='party' and listRedistribute['id']==user_id) ? 'Party treasury' : listRedistribute['name'])}}
            </option>
            {% endif %}
            {% endfor %}
        </select>
to
        <select id="toRaw" name="toRaw">
            {% for listRedistribute in content['game'].revenue_ListRedistribute(user_id) %}
            {% if listRedistribute['list']=='to' %}
            <option value="{{listRedistribute['type']}}|{{listRedistribute['id']}}">
                {{(( listRedistribute['type']=='party' and listRedistribute['id']==user_id) ? 'Party treasury' : listRedistribute['name'])}}
            </option>
            {% endif %}
            {% endfor %}
        </select>
amount
        <select id="amount" name="amount">
        </select>
    </fieldset>
    <br>
    <button type="submit" class="btn btn-sucess">TRANSFER</button>
</form>
    {% endif %}
<form class="form-horizontal" id="redistribution" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'revenue_RedistributionFinished'} ) }}">
    <button type="submit" class="btn btn-danger">DONE</button>
</form>
{# CONTRIBUTIONS SUBPHASE#}
{% elseif content['game'].subPhase=='Contributions' %}

{% endif %}
