{% block myJavascript %}
<script type="text/javascript">
    function updatePersuasionAmount() {
      index1 = persuader.value.indexOf("|")+1;
      index2 = persuader.value.indexOf("|",index1);
      value =  persuader.value.substr(index1,index2-index1) ;
      while ( amount.options.length ) amount.options[0] = null ;
      for ( i = 0; i <= value; i++ ) {
          option = new Option( i , i );
          amount.options[amount.length] = option;
      }
    }
    function updateOdds() {
        var rollOdds = new Array();
        rollOdds[2] = 1/36; rollOdds[3] = 2/36; rollOdds[4] = 6/36; rollOdds[5] = 10/36; rollOdds[6] = 15/36; rollOdds[7] = 21/36; rollOdds[8] = 26/36; rollOdds[9] = 30/36;
        index1 = persuader.value.indexOf("|")+1;
        index2 = persuader.value.indexOf("|",index1)+1;
        index3 = persuader.value.indexOf("|",index2)+1;
        persuader_amount = parseInt(amount.value);
        persuader_INF = parseInt(persuader.value.substr(index2,index3-index2-1) );
        persuader_ORA = parseInt(persuader.value.substr(index3) );
        index1 = target.value.indexOf("|")+1;
        index2 = target.value.indexOf("|",index1)+1;
        index3 = target.value.indexOf("|",index2)+1;
        
        target_treasury = parseInt(target.value.substr(index1,index2-index1-1) );
        target_party = target.value.substr(index2,index3-index2-1) ;
        target_LOY = parseInt(target.value.substr(index3) );
        if (target_party=='forum') {
            target_affiliation_loyalty = parseInt(0) ;
        } else {
            target_affiliation_loyalty = parseInt(7) ;
        }
        oddsFor = parseInt(persuader_amount + persuader_INF + persuader_ORA) ;
        oddsAgainst = parseInt(target_LOY + target_treasury + target_affiliation_loyalty) ;
        oddsTotal = oddsFor - oddsAgainst ;
        if (oddsTotal<2) {
            oddsPercentage = 0 ;
        } else if (oddsTotal>9) {
            oddsPercentage = rollOdds[9] ;
        } else {
            oddsPercentage = rollOdds[oddsTotal] ;
        }
        odds.readOnly= false;
        odds.value= oddsFor + " - " + oddsAgainst + " = " + oddsTotal + " ( " + parseInt(10000*oddsPercentage)/100 + "%)" ;
        odds.readOnly= true;
    }
    function updateBribeRollButton() {
        value = amount.value;
        if (value==0) {
            document.getElementById("bribeButton").value = "ROLL";
        } else {
            document.getElementById("bribeButton").value = "BRIBE";
        }
    }
    function updateCounterBribeRollButton() {
        value = amount.value;
        if (value==0) {
            document.getElementById("counterBribeButton").value = "NO COUNTER-BRIBE";
        } else {
            document.getElementById("counterBribeButton").value = "COUNTER-BRIBE";
        }
    }
    function updateKnightPersuasionAmount(evilOmens) {
        value =  senator.value.substr(senator.value.indexOf("|")+1) ;
        while ( amount.options.length ) amount.options[0] = null ;
        for ( i = 0; ( (i <= value) & (i <= 5+evilOmens) ); i++ ) {
            option = new Option( i , i );
            amount.options[amount.length] = option;
        }
    }
    function updateGames() {
        index1 = senator.value.indexOf("|")+1;
        index2 = senator.value.indexOf("|",index1)+1;
        treasury = parseInt(target.value.substr(index2)) ;
        while ( type.options.length ) type.options[0] = null ;
        if (treasury>=7) {
            type.options[type.length] = new Option ("Slice & Dice" , 7);
        }
        if (treasury>=13) {
            type.options[type.length] = new Option ("Blood Fest" , 13);
        }
        if (treasury>=18) {
            type.options[type.length] = new Option ("Gladiator Gala" , 18);
        }
    }
</script>
{% endblock %}

{#-----------------------------------------------------------------------------------------------------
                                 WE DON'T KNOW WHO HAS THE INITIATIVE :
                                           WE ARE BIDDING
-----------------------------------------------------------------------------------------------------#}

{% if content['game'].forum_whoseInitiative()==false %}
Currently bidding for initiative number {{content['game'].initiative}}<br>

    {# THIS USER IS THE CURRENT BIDDER #}
    {% if content['game'].currentBidder == user_id %}
You are the current bidder<br>
    
        {# PICK BIDDING SENATOR (THIS USER HASN'T PICKED A BIDDING SENATOR YET) #}
        {% if content['game'].party[user_id].bidWith == NULL %}
Pick a Senator to bid for initiative :<br>

<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_bidSenator'} ) }}">
            {# USER CAN ONLY PICK FROM SENATORs IN ROME WHO HAVE MONEY #}
            {%for senator in content['game'].party[user_id].senators.cards %}
                {% if senator.inRome==FALSE %}
{{senator.name}} cannot bid as he is not in Rome.<br>
                {% elseif senator.treasury==0 %}
{{senator.name}} is too poor to bid.<br>
                {% else %}
    <input type="radio" name="senator" value="{{senator.id}}">{{senator.name}}<br>
                {% endif %}
            {% endfor %}
    <button type="submit" class="btn btn-info">DONE</button>
</form>

        {# BIDDING SENATOR IS NULL - CHOOSE BIDDING AMOUNT #}
        {% else %}
You are currently bidding {{content['game'].party[user_id].bid}}T with {{content['game'].party[user_id].bidWith.name}} to get this initiative.<br>
{% set highestBidder = content['game'].forum_highestBidder() %}
The highest bidder is : {{highestBidder['message']}}
Choose the amount to add to your bid. You need to bid at least {{highestBidder['bid']+1-content['game'].party[user_id].bid}} more :<br>
<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_bidAmount'} ) }}">
</form>
        {% endif %}

    {# WAITING FOR CURRENT BIDDER #}
    {% else %}
Waiting for {{content['game'].party[content['game'].currentBidder].fullName()}} to bid<br>
    {% endif %}

{#-----------------------------------------------------------------------------------------------------
                                    WE KNOW WHO HAS THE INITIATIVE
-----------------------------------------------------------------------------------------------------#}

{% else %}
Initiative #{{content['game'].initiative}} ({{content['game'].party[content['game'].forum_whoseInitiative()].fullName()}})
    
    {% if content['game'].forum_whoseInitiative()==user_id %}
    {# THIS USER HAS THE INITIATIVE - GO THROUGH ALL SUBPHASES #}
- YOU HAVE THE INITIATIVE<br>

{#--------------------------------------------------- 
               ROLL FOR EVENTS
---------------------------------------------------#}

        {% if content['game'].subPhase=='RollEvent' %}
Roll for Events :
<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_rollEvent'} ) }}">
    <button type="submit" class="btn btn-danger">ROLL</button>
</form>

{#--------------------------------------------------- 
                 PERSUASION
---------------------------------------------------#}

        {% elseif content['game'].subPhase=='Persuasion' %}
Persuasion attempt :<br>

            {# CHOOSE A TARGET, A PERSUADER, AMOUNT TO SPEND, CARDS TO PLAY OR NO PERSUASION#}
            {% if content['game'].persuasionTarget == NULL%}
Choose your persuasion target :<br><br>
<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_persuasion'} ) }}">
USE :
    <select id="persuader" name="persuader" onClick="updatePersuasionAmount() ; updateOdds();" style="width: 350px;">
{% for senator in content['game'].forum_listPersuaders(user_id) %}
        <option value="{{senator['senatorID']}}|{{senator['treasury']}}|{{senator['INF']}}|{{senator['ORA']}}">{{senator['name']}} - INF {{senator['INF']}} + ORA {{senator['ORA']}} = {{senator['INF']+senator['ORA']}}, Treasury = {{senator['treasury']}} </option>
{% endfor %}
    </select><br>
TO PERSUADE :
    <select id="target" name="target" onClick="updateOdds();" style="width: 350px;">
{% for senator in content['game'].forum_listPersuasionTargets(user_id) %}
        <option value="{{senator['senatorID']}}|{{senator['treasury']}}|{{senator['party']}}|{{senator['LOY']}}">{{senator['name']}} in {{senator['party'] == 'forum' ? 'forum' : content['game'].party[senator['party']].fullname()}} - LOY {{senator['LOY']}} , Treasury = {{senator['treasury']}} </option>
{% endfor %}
    </select><br>
BY SPENDING :
    <select id="amount" name="amount" onClick="updateOdds();" style="width: 50px;">
    </select><br>
{# Also show cards that can be used for persuasion #}
{% set persuasionCards = content['game'].forum_listPersuasionCards(user_id) %}
{% if persuasionCards|length > 0 %}
USING CARD :
    <select id="card" name="card" style="width: 200px;">
        <option value="NONE">NONE</option>
{% for card in persuasionCards %}
        <option value="{{card.id}}">{{card.name}} </option>
{% endfor %}
    </select><br>
{% else %}
    <input type="hidden" id="card" name="card" VALUE="NONE">
{% endif %}
    <br><br>
TARGET NUMBER :
<input id="odds" type="text" readonly style="width: 150px;">
<br><br>
    <button type="submit" class="btn btn-info">PERSUADE</button>
</form>

<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_noPersuasion'} ) }}">
    <button type="submit" class="btn btn-danger">NO PERSUASION THIS TURN</button>
</form>

            {# WAIT FOR COUNTER-BRIBE , INCREASE MONEY SPENT ,  OR ROLL WITH CURRENT ODDS#}
            {% else %}

                {# Yes, he is the current bidder, so must choose to roll or bid more #}
                {% if content['game'].currentBidder==user_id %}
    {% embed 'action_forumPersuasion.twig' %}
    {% endembed %}
        {% set persuasionListCurrent = content['game'].forum_persuasionListCurrent() %}
Add to current bribe or roll with current odds :
<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_persuasion'} ) }}">
    <select id="amount" name="amount" style="width: 200px;" onClick="updateBribeRollButton();">
        {% for x in 0..persuasionListCurrent['persuader']['treasury']%}
            {% if x==0 %}
                <option value='0' selected>0 (Roll with current odds)</option>
            {% else %}
                <option>{{x}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="submit" id="bribeButton" class="btn btn-danger" value="ROLL">
</form>
                {# He is not the current bidder, waiting for other to counter-bribe his attempt #}
                {% else %}
Waiting for {{content['game'].party[content['game'].currentBidder].fullName()}} to decide on counter-bribes<br>
    {% embed 'action_forumPersuasion.twig' %}
    {% endembed %}
                {% endif %}
            {% endif %}

{#--------------------------------------------------- 
                       KNIGHTS
---------------------------------------------------#}

        {% elseif content['game'].subPhase=='Knights' %}
{% set list = content['game'].forum_listKnights(user_id) %}
{% set canPressure = FALSE %}
Knights :<br>
Attract a knight for :<br>
<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_knights'} ) }}">
    {#
    Note : the updateKnightPersuasionAmount(x) function gets the current evilOmens level as a parameter
    This way, should evil omens be in play and attract roll reduced, the player has the option to spend more than 5T
    Otherwise, the function caps the amount spent at 5
    #}
    <select id="senator" name="senator" style="width: 420px;" onClick="updateKnightPersuasionAmount({{content['game'].getEventLevel('Evil Omens')}})">
{% for senator in list %}
        {% if senator['knights']>0 %}
            {% set canPressure = TRUE %}
        {% endif %}
        {% if senator['inRome']%}
            <option value="{{senator['senatorID']}}|{{senator['treasury']}}">{{senator['name']}} : {{senator['knights']}} knights, {{senator['treasury']}}T</option>
        {% endif %}
{% endfor %}
    </select>
    By spending :
    <select id="amount" name="amount" style="width: 50px;">
        <option>0</option>
    </select>
    
    <input type="submit" class="btn btn-info" value="ROLL">
</form>
{% if canPressure%}
OR Pressure Knights :<br>
<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_pressureKnights'} ) }}">
    {% for senator in list %}
        {% if senator['knights']>0 %}
            {{senator['name']}} :
            <select id="{{senator['senatorID']}}" name="{{senator['senatorID']}}" style="width: 50px;">
                {% for nb in 0..senator['knights']%}
                    <option>{{nb}}</option>                        
                {% endfor %}
            </select><br>
        {% endif %}
    {% endfor %}
    <input type="submit" class="btn btn-info" value="PRESSURE">
</form>
{% else %}
This party has no knights to pressure
{% endif %}

{#--------------------------------------------------- 
                 SPONSOR GAMES
---------------------------------------------------#}

        {% elseif content['game'].subPhase=='SponsorGames' %}
{% set list = content['game'].forum_listSponsorGames(user_id) %}
{% if list|length > 0 %}
<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_sponsorGames'} ) }}">
    <select id="senator" name="senator" style="width: 300px;" onClick="updateGames();">
        {% for senator in list %}
            {% if senator['treasury']>=7 %}
                <option value="{{list['senatorID']}}|{{list['name']}}|{{list['treasury']}}">{{list['name']}}</option>
            {% endif %}
        {% endfor %}
    </select>
    Sponsors :
    <select id="type" name="type" style="width: 200px;">
        <option>Slice & Dice</option>
    </select>
    <input type="submit" class="btn btn-info" value="SPONSOR GAMES">
</form>
{% else %}
Error - no senator can sponsor game. 
{% endif %}

{#--------------------------------------------------- 
                 CHANGE LEADER
---------------------------------------------------#}

        {% elseif content['game'].subPhase=='ChangeLeader' %}
Change party Leader :
<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_changeLeader'} ) }}">
    <select id="senatorID" name="senatorID" style="width: 350px;">
        <option value="NO">Keep {{content['game'].party[user_id].leader.name}}</option>
        {% for senator in content['game'].party[user_id].senators.cards%}
            {% if senator.senatorID!=content['game'].party[user_id].leader.senatorID %}
            <option value="{{senator.senatorID}}">Appoint {{senator.name}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="submit" class="btn btn-info" value="OK">
</form>

{#--------------------------------------------------- 
               CURIA (FORUM END)
---------------------------------------------------#}

        {% elseif content['game'].subPhase=='curia' %}
        {% else %}
ERROR - strange forum subphase.
        {% endif %}

    {% else %}

{#---------------------------------------------------
    THIS USER DOES NOT HAVE THE INITIATIVE - but he might have to play to spend money to resist the persuasion attempt of the player who has the initiative
---------------------------------------------------#}

- Waiting for this player to finish his initiative<br>
{#--------------------------------------------------- 
       PERSUASION FOR COUNTER-BRIBING PLAYERS
---------------------------------------------------#}
        {% if content['game'].subPhase=='Persuasion' %}

            {# This player does NOT have the initiative, is it his turn to counter bribe ? #}
            {% if content['game'].forum_whoseInitiative()!=user_id %}

                {# Yes, he is the current counter-briber#}
                {% if content['game'].currentBidder==user_id %}
It's your turn to counter-bribe :<br>
    {% embed 'action_forumPersuasion.twig' %}
    {% endembed %}
Counter-bribe (from party treasury) : 
<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_persuasion'} ) }}">
    <select id="amount" name="amount" onClick="updateCounterBribeRollButton();" style="width: 50px;">
        {% for x in 0..content['game'].party[user_id].treasury%}
            <option>{{x}}</option>
        {% endfor %}
    </select>
    <input type="submit" id="counterBribeButton" type="submit" class="btn btn-danger" value="NO COUNTER-BRIBE">
</form>
                {# No, he is not the current counter-briber#}
                {% else %}
                    {% if content['game'].currentBidder == content['game'].forum_whoseInitiative() %}
Waiting for {{content['game'].party[content['game'].currentBidder].fullName()}} to decide on persuasion
                    {% else %}
Waiting for {{content['game'].party[content['game'].currentBidder].fullName()}} to decide on counter-bribes
                        {% embed 'action_forumPersuasion.twig' %}
                        {% endembed %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
        {% endif %}
    {% endif %}
    
    
{% endif %}