{% block myJavascript %}
<script type="text/javascript">
    function updatePersuasionAmount() {
      index1 = persuader.value.indexOf("|")+1;
      index2 = persuader.value.indexOf("|",index1);
      value =  persuader.value.substr(index1,index2-index1) ;
      while ( amount.options.length ) amount.options[0] = null ;
      for ( i = 0; i <= value; i++ ) {
          option = new Option( i , i );
          amount.options[amount.length] = option;
      }
    }
    function updateOdds() {
        var rollOdds = new Array();
        rollOdds[2] = 1/36; rollOdds[3] = 2/36; rollOdds[4] = 6/36; rollOdds[5] = 10/36; rollOdds[6] = 15/36; rollOdds[7] = 21/36; rollOdds[8] = 26/36; rollOdds[9] = 30/36;
        index1 = persuader.value.indexOf("|")+1;
        index2 = persuader.value.indexOf("|",index1)+1;
        index3 = persuader.value.indexOf("|",index2)+1;
        persuader_amount = parseInt(amount.value);
        persuader_INF = parseInt(persuader.value.substr(index2,index3-index2-1) );
        persuader_ORA = parseInt(persuader.value.substr(index3) );
        index1 = target.value.indexOf("|")+1;
        index2 = target.value.indexOf("|",index1)+1;
        index3 = target.value.indexOf("|",index2)+1;
        
        target_treasury = parseInt(target.value.substr(index1,index2-index1-1) );
        target_party = target.value.substr(index2,index3-index2-1) ;
        target_LOY = parseInt(target.value.substr(index3) );
        if (target_party=='forum') {
            target_affiliation_loyalty = parseInt(0) ;
        } else {
            target_affiliation_loyalty = parseInt(7) ;
        }
        oddsFor = parseInt(persuader_amount + persuader_INF + persuader_ORA) ;
        oddsAgainst = parseInt(target_LOY + target_treasury + target_affiliation_loyalty) ;
        oddsTotal = oddsFor - oddsAgainst ;
        if (oddsTotal<2) {
            oddsPercentage = 0 ;
        } else if (oddsTotal>9) {
            oddsPercentage = rollOdds[9] ;
        } else {
            oddsPercentage = rollOdds[oddsTotal] ;
        }
        odds.readOnly= false;
        odds.value= oddsFor + " - " + oddsAgainst + " = " + oddsTotal + " ( " + parseInt(10000*oddsPercentage)/100 + "%)" ;
        odds.readOnly= true;
    }
    function updateBribeRollButton() {
        value = amount.value;
        if (value==0) {
            document.getElementById("bribeButton").value = "ROLL";
        } else {
            document.getElementById("bribeButton").value = "BRIBE";
        }
    }
    function updateCounterBribeRollButton() {
        value = amount.value;
        if (value==0) {
            document.getElementById("counterBribeButton").value = "NO COUNTER-BRIBE";
        } else {
            document.getElementById("counterBribeButton").value = "COUNTER-BRIBE";
        }
    }
</script>
{% endblock %}

{# CURRENTLY BIDDING FOR INITIATIVE #}
{% if content['game'].forum_whoseInitiative()==FALSE %}
Currently bidding for initiative number {{content['game'].initiative}}<br>

    {# THIS USER IS THE CURRENT BIDDER #}
    {% if content['game'].currentBidder.user_id == user_id %}
You are the current bidder<br>
    
        {# PICK BIDDING SENATOR (THIS USER HASN'T PICKED A BIDDING SENATOR YET) #}
        {% if content['game'].party['user_id'].bidWith == NULL %}
Pick a Senator to bid for initiative :<br>

<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_bidSenator'} ) }}">
            {# USER CAN ONLY PICK FROM SENATORs IN ROME WHO HAVE MONEY #}
            {%for senator in content['game'].party['user_id'].senators.cards %}
                {% if senator.inRome==FALSE %}
{{senator.name}} cannot bid as he is not in Rome.<br>
                {% elseif senator.treasury==0 %}
{{senator.name}} is too poor to bid.<br>
                {% else %}
    <input type="radio" name="senator" value="{{senator.id}}">{{senator.name}}<br>
                {% endif %}
            {% endfor %}
    <button type="submit" class="btn btn-info">DONE</button>
</form>

        {# BIDDING SENATOR IS NULL - CHOOSE BIDDING AMOUNT #}
        {% else %}
You are currently bidding {{content['game'].party['user_id'].bid}}T with {{content['game'].party['user_id'].bidWith.name}} to get this initiative.<br>
{% set highestBidder = content['game'].forum_highestBidder() %}
The highest bidder is : {{highestBidder['message']}}
Choose the amount to add to your bid. You need to bid at least {{highestBidder['bid']+1-content['game'].party['user_id'].bid}} more :<br>
<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_bidAmount'} ) }}">
</form>
        {% endif %}

    {# WAITING FOR CURRENT BIDDER #}
    {% else %}
Waiting for {{content['game'].currentBidder.fullName()}} to bid<br>
    {% endif %}

{# WE KNOW WHO HAS THE INITIATIVE #}
{% else %}
Initiative #{{content['game'].initiative}} ({{content['game'].party[content['game'].forum_whoseInitiative()].fullName()}})
    
    {% if content['game'].forum_whoseInitiative()==user_id %}
    {# THIS USER HAS THE INITIATIVE - GO THROUGH ALL SUBPHASES #}
- YOU HAVE THE INITIATIVE<br>

{#

ROLL FOR EVENTS

#}

        {% if content['game'].subPhase=='RollEvent' %}
Roll for Events :
<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_rollEvent'} ) }}">
    <button type="submit" class="btn btn-danger">ROLL</button>
</form>

{# 

PERSUASION

#}

        {% elseif content['game'].subPhase=='Persuasion' %}
Persuasion attempt :<br>

            {# CHOOSE A TARGET, A PERSUADER, AMOUNT TO SPEND, CARDS TO PLAY OR NO PERSUASION#}
            {% if content['game'].persuasionTarget == NULL%}
Choose your persuasion target :<br><br>
<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_persuasion'} ) }}">
USE :
    <select id="persuader" name="persuader" onClick="updatePersuasionAmount() ; updateOdds();" style="width: 350px;">
{% for senator in content['game'].forum_listPersuaders(user_id) %}
        <option value="{{senator['senatorID']}}|{{senator['treasury']}}|{{senator['INF']}}|{{senator['ORA']}}">{{senator['name']}} - INF {{senator['INF']}} + ORA {{senator['ORA']}} = {{senator['INF']+senator['ORA']}}, Treasury = {{senator['treasury']}} </option>
{% endfor %}
    </select><br>
TO PERSUADE :
    <select id="target" name="target" onClick="updateOdds();" style="width: 350px;">
{% for senator in content['game'].forum_listPersuasionTargets(user_id) %}
        <option value="{{senator['senatorID']}}|{{senator['treasury']}}|{{senator['party']}}|{{senator['LOY']}}">{{senator['name']}} in {{senator['party'] == 'forum' ? 'forum' : content['game'].party[senator['party']].fullname()}} - LOY {{senator['LOY']}} , Treasury = {{senator['treasury']}} </option>
{% endfor %}
    </select><br>
BY SPENDING :
    <select id="amount" name="amount" onClick="updateOdds();" style="width: 50px;">
    </select><br>
{# Also show cards that can be used for persuasion #}
{% set persuasionCards = content['game'].forum_listPersuasionCards(user_id) %}
{% if persuasionCards|length > 0 %}
USING CARD :
    <select id="card" name="card" style="width: 200px;">
        <option value="NONE">NONE</option>
{% for card in persuasionCards %}
        <option value="{{card.id}}">{{card.name}} </option>
{% endfor %}
    </select><br>
{% endif %}
    <br><br>
TARGET NUMBER :
<input id="odds" type="text" readonly style="width: 150px;">
<br><br>
    <button type="submit" class="btn btn-info">PERSUADE</button>
</form>

<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_noPersuasion'} ) }}">
    <button type="submit" class="btn btn-danger">NO PERSUASION THIS TURN</button>
</form>

            {# WAIT FOR COUNTER-BRIBE , INCREASE MONEY SPENT ,  OR ROLL WITH CURRENT ODDS#}
            {% else %}

                {# Yes, he is the current bidder, so must choose to roll or bid more #}
                {% if content['game'].currentBidder==user_id %}
    {% embed 'action_forumPersuasion.twig' %}
    {% endembed %}
        {% set persuasionListCurrent = content['game'].forum_persuasionListCurrent() %}
Add to current bribe or roll with current odds :
<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_persuasion'} ) }}">
    <select id="amount" name="amount" style="width: 200px;" onClick="updateBribeRollButton();">
        {% for x in 0..persuasionListCurrent['persuader']['treasury']%}
            {% if x==0 %}
                <option value='0' selected>0 (Roll with current odds)</option>
            {% else %}
                <option>{{x}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="submit" id="bribeButton" class="btn btn-danger" value="ROLL">
</form>
                {# He is not the current bidder, waiting for other to counter-bribe his attempt #}
                {% else %}
Waiting for {{content['game'].party[content['game'].currentBidder].fullName()}} to decide on counter-bribes<br>
    {% embed 'action_forumPersuasion.twig' %}
    {% endembed %}
                {% endif %}
            {% endif %}

{# 

KNIGHTS

#}

        {% elseif content['game'].subPhase=='Knights' %}
Knights :
{# 

CHANGE LEADER

#}

        {% elseif content['game'].subPhase=='ChangeLeader' %}

{# 

SPONSOR GAMES

#}

        {% elseif content['game'].subPhase=='SponsorGames' %}

{# 

CURIA (FORUM END)

#}

        {% elseif content['game'].subPhase=='curia' %}
        {% else %}
ERROR - strange forum subphase.
        {% endif %}

    {% else %}

{#
    THIS USER DOES NOT HAVE THE INITIATIVE -
    WARNING : Even though he doesn't have the initiative, he might have to play to spend money to resist the persuasion attempt of the player who has the initiative
#}

- Waiting for this player to finish his initiative<br>
        {% if content['game'].subPhase=='Persuasion' %}

            {# This player does NOT have the initiative, is it his turn to counter bribe ? #}
            {% if content['game'].forum_whoseInitiative()!=user_id %}

                {# Yes, he is the current counter-briber#}
                {% if content['game'].currentBidder==user_id %}
It's your turn to counter-bribe :<br>
    {% embed 'action_forumPersuasion.twig' %}
    {% endembed %}
Counter-bribe (from party treasury) : 
<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'forum_persuasion'} ) }}">
    <select id="amount" name="amount" onClick="updateCounterBribeRollButton();" style="width: 50px;">
        {% for x in 0..content['game'].party[user_id].treasury%}
            <option>{{x}}</option>
        {% endfor %}
    </select>
    <input type="submit" id="counterBribeButton" type="submit" class="btn btn-danger" value="NO COUNTER-BRIBE">
</form>
                {# No, he is not the current counter-briber#}
                {% else %}
                    {% if content['game'].currentBidder == content['game'].forum_whoseInitiative() %}
Waiting for {{content['game'].party[content['game'].currentBidder].fullName()}} to decide on persuasion
                    {% else %}
Waiting for {{content['game'].party[content['game'].currentBidder].fullName()}} to decide on counter-bribes
                        {% embed 'action_forumPersuasion.twig' %}
                        {% endembed %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
        {% endif %}
    {% endif %}
    
    
{% endif %}