{% block content %}
<pre>
{% if senator.hasStatesman %}
{{ senator.name }} <span title='This family has a Statesman' style='font-weight: bold; text-decoration: underline;'>[{{senator.senatorID}}]</span> - {{ senator.type }}
{% else %}
{{ senator.name }} {{senator.senatorID}} - {{ senator.type }}
{% endif %}
{% if leader%}
LEADER
{% endif %}
{% if senator.office %}
{{ senator.office }}
{% else %}

{% endif %}
MIL {{ senator.MIL }}     ORA {{ senator.ORA }}
LOY {{ senator.LOY }}     INF {{ senator.INF }}
{% if senator.priorConsul %}
Prior Consul
{% else %}

{% endif %}
{{ senator.knights }} knights , {{ senator.treasury }} T.
{% if playable is defined %}
<span title='{{ playable['message'] }}' style='font-weight: bold; text-decoration: underline;'>{{ playable['flag'] ? 'PLAYABLE' : 'NOT PLAYABLE' }}</span>
{% endif %}
{% if senator.controls.cards|length >0 %}
Controls :
{% for card in senator.controls.cards %}
{{ card.name }}
{% endfor %}
{% endif %}
</pre>
{% endblock %}