{% extends layout_template  %}

{% block title %}Game main view & action{% endblock %}

{% block content %}
HRAO : {{ content['game'].getHRAO()['senator'].name }} ({{ content['game'].getHRAO()['party'].name }} - {{ app['user.manager'].getUser(content['game'].getHRAO()['party'].user_id).getName  }} ) , 
{# ORDER OF PLAY BASED on game->whoseTurn() #}
Order of play :
{% for temp_user_id in content['game'].getOrderOfPlay() %} 
    <font style="font-weight:bold ; color: {{(temp_user_id == content['game'].whoseTurn() ? 'blue' : 'gray')}} ;{{ (temp_user_id==user_id ? ' text-decoration: underline;' : '' )}}">
        {{app['user.manager'].getUser(temp_user_id).getName}}
    </font>
{# Do not display the arrow for the last record#}
        {% if loop.index!=loop.length %}<i class="icon-arrow-right"></i>{% endif %}
{% endfor %}
<br>
{# PHASE-SPECIFIC #}
{% if content['game'].phase == 'Setup' %}
Phase : Setup ({{content['game'].subPhase}})<br>
    {% embed 'action_setup.twig' %}
    {% endembed %}
{% elseif content['game'].phase == 'Mortality' %}
Phase : Mortality<br>
{% elseif content['game'].phase == 'Revenue' %}
Phase : Revenue<br>
    {% embed 'action_revenue.twig' %}
    {% endembed %}
{% elseif content['game'].phase == 'Forum' %}
Phase : Forum<br>
    {% embed 'action_forum.twig' %}
    {% endembed %}
{% elseif content['game'].phase == 'Population' %}
Phase : Population<br>
    {% embed 'action_population.twig' %}
    {% endembed %}
{% elseif content['game'].phase == 'Senate' %}
Phase : Senate - {{content['game'].subPhase}}<br>
    {% embed 'action_senate.twig' %}
    {% endembed %}
{% endif %}
<hr>
{# DISPLAY PLAYER'S PARTY #}
YOUR PARTY :<br>
{% embed 'action_viewParty.twig' %}
{% endembed %}

{# IF THERE IS CAPTIVES, SHOW THEM AND GIVE A CHANCE TO PAY THE RANSOM #}
{% if content['game'].listOfCaptives(user_id) %}
    <hr>
    {% embed 'action_captives.twig' %}
    {% endembed %}
{% endif %}

<hr>
{# DISPLAY PLAYER'S HAND #}
YOUR HAND :<br>
{% embed 'action_viewHand.twig' %}
{% endembed %}

<hr>
{# DISPLAY FORUM CARDS #}
FORUM :<br>
{% embed 'action_viewForum.twig' %}
{% endembed %}

<hr>

{# DISPLAY CURIA CARDS #}
CURIA :<br>
{% embed 'action_viewCuria.twig' %}
{% endembed %}

<hr>

{# DISPLAY WAR CARDS #}
WARS :<br>
{% embed 'action_viewWars.twig' %}
{% endembed %}

<hr>

{# CHAT #}
Chat :<br>
<form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'chat'} ) }}">
    <textarea rows="4" name="message" id="message"></textarea><br>
    {% for player in content['game'].party %}
        {% if player.user_id!=user_id %}
            <input type="checkbox" name="recipients[]" id="recipients[]" value="{{player.user_id}}">{{player.fullName()}}<br>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-danger">SEND</button>
</form>

{# DISPLAY GAME LOG #}

<div class="row-fluid">
    <iframe class="container well well-small span6 " style="height: 500px; width: 100%;" src="{{path('Log' , {'game_id' : game_id , 'user_id' : user_id } )}}" frameborder="0" allowtransparency="true" scrolling="vertical"></iframe>
</div>

Debug :<br>
<textarea readonly style="height: 500px; width: 100%; resize: vertical;">
{{ dump(content['game']) }}
</textarea>

{% endblock %}
