{{content['game'].party[user_id].name}}, 
Leader : 
{%if content['game'].party[user_id].leaderID is defined and content['game'].getSenatorWithID(content['game'].party[user_id].leaderID) != FALSE %}
{{content['game'].getSenatorWithID(content['game'].party[user_id].leaderID).name}},

{% else %}
None ,
{% endif %}
Treasury : {{ content['game'].party[user_id].treasury}} T<br>
SENATORS : (Current vote total : {{content['game'].party[user_id].getTotalVotes()}})<br>
<div class="row">
{% for senator in content['game'].party[user_id].senators.cards %}
    <div class="span3">
{#
    {% embed "action_viewSenator.twig" with {'senator': senator , 'leader' : content['game'].party[user_id].leaderID==senator.senatorID } only %}
    {% endembed %}
#}
    <img src="/images/DynamicImage.php?name={{senator.name}}&
         MIL={{senator.MIL}}&
         ORA={{senator.ORA}}&
         LOY={{senator.LOY}}&
         POP={{senator.POP}}&
         INF={{senator.INF}}&
         knights={{senator.knights}}&
         treasury={{senator.treasury}}&
         office={{senator.office}}&
         priorConsul={{senator.priorConsul}}
         ">
    </div>
{% endfor %}
</div>
