{# The view controller #}
{% set output = content['game'].senate_view(user_id) %}

{#
    Give the opportunity to slaughter other senators
#}
{% if output['assassinate']!=FALSE and (output['assassinate']|length > 0) %}
    <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'senate_assassination'} ) }}">
        <button type="submit" class="btn-danger">ASSASSINATION !</button>
    </form>
{% endif %}
{#
    Make a Proposal
#}
{% if output['state']=='Proposal' %}

    You can make a Proposal<br>

    <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'senate_proposal'} ) }}">

        {#
            Consuls proposal
        #}
        {% if output['type']=='Consuls' %}
        Nominate for Consularship :<br>
            <input type="hidden" name="type" value="Consuls">
            <select name="parameters[0]" style="width:500px;">
                {%for senator in output['senators']%}
                <option value="{{senator['senatorID']}}">
                     {{senator['name']}} ({{senator['partyName']}})
                </option>
                {% endfor %}
            </select><br>
            AND<br>
            <select name="parameters[1]" style="width:500px;">
                {%for senator in output['senators']%}
                <option value="{{senator['senatorID']}}">
                     {{senator['name']}} ({{senator['partyName']}})
                </option>
                {% endfor %}
            </select>
            <br><br>
        {#
            Pontifex Maximus proposal
        #}
        {#
            Dictator Appointment (consuls only)
        #}
        {% elseif output['type']=='Dictator Appointment' %}
            Appoint a Dictator (the other Consul must agree) :<br>
            <input type="hidden" name="type" value="Dictator">
            <select name="parameters[0]">
                <option value="FALSE">NO</option>
                {% for senator in output['possibleDictators']%}
                    <option value="{{senator['senatorID']}}">
                        {{senator['name']}} ({{senator['party_name']}})
                    </option>
                {% endfor %}
            </select><br>
            <input type="hidden" name="parameters[1]" value="TRUE">
            <input type="hidden" name="proposalHow" value="Dictator appointed by Consuls"></input>
        {#
            Dictator proposal
        #}
        {% elseif output['type']=='Dictator' %}
            Dictator Proposal :<br>
            <input type="hidden" name="type" value="Dictator">
            <select name="parameters[0]">
                <option value="DONE">Do not propose a Dictator this turn</option>
                {#
                    Only show a list of potential ditator if the player has more than one 'proposalHow'
                    If he has only one, it should be 'Dictator proposal', giving him only the option to click 'DONE'
                #}
                {% if output['proposalHow']|length > 1 %}
                    {% for senator in output['possibleDictators']%}
                        <option value="{{senator['senatorID']}}">
                            {{senator['name']}} ({{senator['party_name']}})
                        </option>
                    {% endfor %}
                {% endif %}
            </select><br>
            <input type="hidden" name="parameters[1]" value="FALSE">
        {#
            Censor proposal
        #}
        {% elseif output['type']=='Censor' %}
        Nominate for Censorship :<br>
            <input type="hidden" name="type" value="Censor">
            <select name="parameters[0]" style="width:500px;">
                {%for senator in output['senators']%}
                <option value="{{senator['senatorID']}}">
                     {{senator['name']}} ({{senator['partyName']}})
                </option>
                {% endfor %}
            </select><br>
        {#
            Prosecutions
        #}
        {% elseif output['type']=='Prosecutions' %}
            Prosecutions :<br>
            <input type="hidden" name="type" value="Prosecutions">
            Prosecute :
            <select name="parameters[0]" style="width:750px;">
                {%for reason in output['list']%}
                <option value="{{reason['senator'].senatorID}},{{reason['reason']}}">
                     {{reason['text']}}
                </option>
                {% endfor %}
            </select><br>
            With prosecutor :
            <select name="parameters[2]">
                {%for possibleProsecutor in output['possibleProsecutors']%}
                <option value="{{possibleProsecutor['senatorID']}}">
                     {{possibleProsecutor['name']}}
                </option>
                {% endfor %}
            </select><br>
            <input type="hidden" name="proposalHow" value="Censor"></input>
        {#
            Governors
        #}
        {% elseif output['type']=='Governors' %}
            Governorships :<br>
            <input type="hidden" name="type" value="Governors">
            {% for detail in output['list']%}
                Propose :
                <select name="parameters[{{loop.index0 * 3}}]" style="width:400px;">
                    <option>No change</option>
                    {% for possibleGovernor in output['possibleGovernors']%}
                    <option value="{{possibleGovernor['senatorID']}}">
                        {{possibleGovernor['name']}}
                        {{possibleGovernor['user_id']=='forum' ? ' who is unaligned' : ''}}
                        {{possibleGovernor['returning'] ? ' (returning)' : ''}}
                    </option>
                    {% endfor %}
                </select>
                as governor of :
                <input type="hidden" name="parameters[{{loop.index0 * 3 + 2}}]" value="{{detail['province_id']}}">
                {{detail['province_name']}}{{detail['senator_name']!=NULL ? ' (recall of ' ~ detail['senator_name'] ~ ')' : ' (currently vacant)'}}<br>
            {% endfor %}
            <br>
        {#
            Other Business
        #}
        {% elseif output['type']=='Other Business' %}
            Other Senate business :
            <select style="width:400px;">
                {% for possibleproposal in output['list']%}
                    <option value="{{possibleproposal[0]}}">
                        {{possibleproposal[1]}}
                    </option>
                {% endfor %}
            </select><br>
            OR:<br>
            {#
                If President, can ajourn the senate
            #}
            {% if output['ajourn'] %}
                <form class="form-horizontal" method="POST">
                    <button type="submit" class="btn-danger">AJOURN THE SENATE</button>
                </form>
            {% endif %}
        {% endif %}
        {#
            Show a list of possible ways to make a proposal
            Doesn't apply to prosecutions (only Censor can make proposals, and assassin prosecution is automatic) or dictator appointment by Consuls
        #}
        {% if output['type']!='Prosecutions' and output['type']!='Assassin prosecution' and output['type']!='Dictator Appointment' %}
            Choose how to make proposal :<br>
            {% embed 'action_senate_proposalHow.twig' %}
            {% endembed %}
        {% endif %}
        {#
            Choose voting order. Doesn't apply to dictator appointment by Consuls
        #}
        {% if output['type']!='Dictator Appointment' %}
            Choose voting order :<br>
            {% embed 'action_senate_votingOrder.twig' %}
            {% endembed %}
        {% endif %}
        <br>
        <button type="submit" class="btn-danger">MAKE PROPOSAL</button>
    </form>
    {#
        For prosecutions : give a chance to do without
    #}
    {% if output['type']=='Prosecutions' %}
    <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'senate_endProscutions'} ) }}">
        <button type="submit" class="btn-danger">NO MORE PROSECUTIONS</button>
    </form>
    {% endif %}
{#
    Proposal impossible
#}
{% elseif output['state']=='Proposal impossible'%}
        You cannot make a proposal at the moment<br>
        {{output['reason']|default('')}}

{#
    Assassin special prosecution : allow the Censor to chose voting order
#}
{% elseif output['state']=='Assassin prosecution voting order'%}

    {% if output['canChoose']%}
        Choose voting order :<br>
        {% embed 'action_senate_votingOrder.twig' %}
        {% endembed %}
    {% else %}
        Waiting for the Censor to decide the voting order on the special major prosecution for assassination
    {% endif %}

{#
    Vote
#}
{% elseif output['state']=='Vote'%}
    Vote - {{output['type']}}<br>
    {{output['longDescription']}}<br>
    {# Can vote #}
    {% if output['canVote']%}
    Please cast your vote:<br>
    <hr>
    {% if output['appeal'] %}
        <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'senate_appeal'} ) }}">
            Appeal to the people (Popularity : {{output['popularity']}}) :
            <button type="submit" class="btn-danger">APPEAL</button>
        </form>
    {% endif %}
    {#
        Cast Vote as whole party
    #}
    <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'senate_vote'} ) }}">
        Whole party vote :<br>
        <select name="wholeParty" id="wholeParty">
            <option value="1">FOR</option>
            <option value="-1">AGAINST</option>
            <option value="0" selected>ABSTAIN</option>
        </select><br>
        <button type="submit" class="btn-danger">CAST VOTE FOR WHOLE PARTY</button>
    </form>
    {#
        Cast Vote Senator per Senator
    #}
    <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'senate_vote'} ) }}">
        Vote by Senator :<br>
        {% for voter in output['voting']%}
            {% if voter['user_id'] == user_id%}
                {{voter['name']}} ( {{voter['votes']}} votes)
                {% if voter['votes']>0 %}
                    <select name="{{voter['senatorID']}}">
                        <option value="1">FOR</option>
                        <option value="-1">AGAINST</option>
                        <option value="0" selected>ABSTAIN</option>
                    </select>
                    {% if output['treasury'][voter['senatorID']] > 0 %}
                    <select name="{{voter['senatorID']}}_talents">
                        {% for i in 0..output['treasury'][voter['senatorID']]%}
                            <option>{{i}}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor%}
        <button type="submit" class="btn-danger">CAST VOTE BY SENATORS</button>
    </form>
    {#
        Veto
    #}
    {% if output['possibleVetos']|length >0%}
        <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'senate_vote'} ) }}">
            Veto the proposal using :<br>
            <input type="hidden" name="useVeto" value="YES">
            <select name="veto" id="veto">
                {% for veto in output['possibleVetos']%}
                    {% if veto=='Tribune card' %}
                        <option value="Card">Tribune Card</option>
                    {% else %}
                        <option value="{{veto['senatorID']}}">{{veto['name'] ~ '\'s free tribune.'}}</option>
                    {% endif %}
                {% endfor%}
            </select><br>
            <button type="submit" class="btn-danger">VETO</button>
        </form>
    {% endif %}
    {% else %}
    Currently voting : {{output['votingOrderNames'][0]}}<br>
    {# Cannot vote #}
    {% endif %}

{#
    A Decision has to be made (e.g. who is Consul of Rome in a Pair, Dictator appoints a MoH, etc)
#}
{% elseif output['state']=='Decision' %}
    Decision<br>
    {#
        Decision - Consuls
    #}
    {% if output['type'] =='Consuls'%}
        {% if output['canDecide']%}
            <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'senate_decision'} ) }}">
                <input type="hidden" name="type" id="type" value="consuls">
                {% for senator in output['senator']%}
                    {% if senator=='notYou' %}
                    {% elseif senator=='alreadyDecided'%}
                        You have made your choice.<br>
                    {% else %}
                        You want {{senator.name}} to be 
                        <select name="{{senator.senatorID}}">
                            <option value="ROME">ROME CONSUL</option>
                            <option value="FIELD">FIELD CONSUL</option>
                        </select><br>
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn-danger">OK</button>
            </form>
        {% else %}
            Waiting for the elected consuls to decide between themselves
        {% endif %}
    {#
        Decision - Dictator appointment
    #}
    {% elseif output['type'] =='Dictator'%}
        {% if output['canDecide']%}
            Your fellow Consul is proposing to appoint {{output['SenatorName']}} as Dictator<br>
            <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'senate_decision'} ) }}">
                <input type="hidden" name="type" id="type" value="AppointDictator">
                <select name="accept">
                    <option value="YES">ACCEPT</option>
                    <option value="NO">REFUSE</option>
                </select><br>
                <button type="submit" class="btn-danger">OK</button>
            </form>
        {% else %}
            Waiting for Consuls to decide if they want to appoint a dictator
        {% endif %}
    {#
        Decision - Master of Horse appointment by the dictator
    #}
    {% elseif output['type'] =='Master of horse'%}
        TO DO : MoH appointment
    {#
        Decision - Prosecutor
    #}
    {% elseif output['type'] =='Prosecutions'%}
        {{output['prosecutorName']}} must decide if he accepts to be the prosecutor :<br>
        {% if output['canDecide']%}
            <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'senate_decision'} ) }}">
                <input type="hidden" name="type" id="type" value="prosecutions">
                <select name="accept">
                    <option value="YES">ACCEPT</option>
                    <option value="NO">REFUSE</option>
                </select><br>
                <button type="submit" class="btn-danger">OK</button>
            </form>
        {% else %}
            Waiting for the appointed prosecutor to decide if he accepts the appointment.
        {% endif %}
    {#
        Decision - Whether returning Governors can go again or not
    #}
    {% elseif output['type'] =='Governors'%}
        {% if output['canDecide']%}
            You have returning governor(s) ({{output['list']}}) in the current proposal. Do you agree for them to go govern a province again this turn ?<br>
            <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'senate_decision'} ) }}">
                <input type="hidden" name="type" id="type" value="governors">
                <select name="accept">
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                </select><br>
                <button type="submit" class="btn-danger">OK</button>
            </form>
        {% else %}
            Waiting for returning governors to decide if they agree to go govern a province again this turn.
        {% endif %}
    {% else %}
    {% endif %}

{#
    Unanimous defeat of the Presiding magistrate
#}
{% elseif output['state']=='Unanimous defeat' %}
    The presiding magistrate has been unanimously defeated<br>
    {% if output['presiding'] %}
        You are presiding and must decide how to handle your unanimous defeat :<br>
        <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'senate_stepDown'} ) }}">
        {% if output['choice']%}
            <select name="stepDown" id="stepDown" style="width:250px;">
                <option value="0">Stay president, lose 1 Influence</option>
                <option value="1">Step down</option>
            </select>
        {% else %}
            Since {{output['name']}} has 0 Influence, he must step down<br>
            <input type="hidden" name="stepDown" id="stepDown" value="1">
        {% endif %}
            <button type="submit" class="btn-danger">OK</button>
        </form>
    {% else %}
        Waiting for him to decide how to handle his unanimous defeat.<br>
    {% endif %}
{#
    Assassination interface
#}
{% elseif output['state']=='Assassination' %}
    {# Assissanitasstating player must choose assassin #}
    {% if output['subState']=='choose assassin'%}
        <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'senate_chooseAssassin'} ) }}">
            Target of assassination :
            <select name="target" id="target" style="width:750px;">
                {% for victim in output['potentialVictims']%}
                    <option value="{{victim['senatorID']}}">{{victim['name']}} ({{victim['party_name']}})</option>
                {% endfor %}
            </select><br>
            Assassin :
            <select name="assassin" id="assassin" style="width:750px;">
                {% for assassin in output['potentialAssassins']%}
                    <option value="{{assassin['senatorID']}}">{{assassin['name']}}</option>
                {% endfor %}
            </select><br>
            {% if output['cards']|length >0%}
                <select name="card" id="card" style="width:450px;">
                    <option value="NONE">NONE</option>
                    {% for card in output['cards']%}
                        <option value="{{card['id']}}">{{card['name']}}</option>
                    {% endfor %}
                </select><br>
            {% else %}
                No assassination cards to play
                <input type="hidden" name="card" id="card" value="NONE">
            {% endif %}
            <button type="submit" class="btn-danger">VAE VICTIS</button>
        </form>
    {# Victim can play bodyguards after the roll #}
    {% elseif output['subState']=='play bodyguards'%}
        <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'senate_playBodyguards'} ) }}">
            {% if output['cards']|length >0%}
                You can play at least one bodyguard card :<br>
                {% for card in output['cards']%}
                    <input type="checkbox" name="cards[]" id="cards[]" value="{{card['id']}}">{{card['name']}}<br>
                {% endfor %}
                <br>
                <button type="submit" class="btn-danger">TU QUOQUE MI FILII</button>
            {% else %}
                No bodyguard card(s) to play<br>
                <input type="hidden" name="cards" id="cards" value="NONE">
                <button type="submit" class="btn-danger">MORITURUS TE SALUTAT</button>
            {% endif %}
        </form>
    {# Waiting for the assassin to make up his mind #}
    {% elseif output['subState']=='waiting for assassin'%}
        Assassination : waiting for the assassin to decide.<br>
    {# Waiting for victim to play bodyguards #}
    {% else %}
        Assassination : waiting for the victim to play bodyguards.<br>
    {% endif %}
{#
    Error
#}
{% else %}
ERROR - Wrong state

{% endif %}
