<!DOCTYPE html>
<html>
    <head>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <style type="text/css">
            body { padding: 10px; }
        </style>
    </head>
    <body>
        {% if valueToChange|default(null) is null %}
        <table border="1">
        {% for item in game_flatDescription %}
            <tr>
            {% set tmp = '' %}
            {% for detail in item %}
                {% if loop.last and detail|length>0 %}
                    <td><a href="{{ path('Debug' , {'game_id' : game_id , 'valueToChange' : tmp} ) }}">{{detail}}</a></td>
                {% else %}
                    {% set type = (detail[0] is not defined ? '' : '['~detail[1]~']')%}
                    {% set value = (detail[0] is not defined ? detail : detail[0])%}
                    {% set tmp=tmp~(loop.first ? '' : '|_|')~value %}
                    <td>{{value}}{{type}}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
        {% else %}
            <form class="form-horizontal" method="POST" action="{{ path('Debug' , {'game_id' : game_id , 'valueToChange' : valueToChange} ) }}">
                Changing {{valueToChange}} :<br>
                <input type="text" name="newValue" id="newValue" value="{{currentValue}}">
                <button type="submit" class="btn btn-danger">DEBUG</button>
            </form>
        {% endif %}
    </body>
</html>