{% block myScripts %}
<script type="text/javascript">
  function updateRedistributionAmount() {
      x = fromRaw.value.indexOf("|"); 
      y = fromRaw.value.indexOf("|",x+1);
      value =  fromRaw.value.substr(y+1) ;
      while ( amount.options.length ) amount.options[0] = null ;
      for ( i = 1; i <= value; i++ ) {
          option = new Option( i , i );
          amount.options[amount.length] = option;
      }
  }
  function updateContributionAmount() {
    value =  senator.value.substr(senator.value.indexOf("|")+1) ;
    while ( amount.options.length ) amount.options[0] = null ;
    for ( i = 1; i <= value; i++ ) {
        option = new Option( i , i );
        amount.options[amount.length] = option;
    }
  }
</script>
{% endblock %}

{# The view controller #}
{% set output = content['game'].revenue_view(user_id) %}

{# sub phase : base - waiting for other players #}
{% if output['state']=='Base - Waiting' %}
    Sub phase : Collect revenues<br>
    Waiting for : {{output['text']}}

{# sub phase : base - playing #}
{% elseif output['state']=='Base - Playing' %}
    Sub phase : Collect revenues<br>
    {{output['text']['senators']}}<br>
    {{output['text']['leader']}}<br>
    {{output['text']['knights']}}<br>
    {{output['text']['concessions']}}<br>
    {% if output['concessions']|length > 0 %}
        {% for concession in output['concessions']%}
            {{concession}}<br>
        {% endfor %}
    {% endif %}
    {{output['text']['total']}}<br>
    <form class="form-horizontal" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'revenue_ProvincialSPoils'} ) }}">
    
    {# Allow Senators to profit from drought-affected concessions #}
    {% if output['concession_drought']|length > 0 %}
        {% for concession_drought in output['concession_drought'] %}
            {{concession_drought['text']}}
            <select name="{{concession_drought['id']}}">
                    <option>YES</option>
                    <option selected>NO</option>
            </select>
        {% endfor %}
    {% endif %}
        
    {# Provinces - Allow Governors to take provincial spoils and whether or not Rome should pay for negative amounts #}
    {{output['text']['provinces']}}<br>
    {% if output['provinces']|length > 0 %}
        <fieldset>
        {% for province in output['provinces'] %}
            <div class="control-group">
                <label class="control-label">{{ province['province_name']}} ({{province['governor_name']}})</label>
                    {% if province['overrun'] == FALSE %}
                    <div class="controls">
                        <select name="{{province['province_id']}}">
                            <option value="YES" selected>Take spoils</option>
                            <option value="NO">Don't take spoils</option>
                        </select>
                        <select name="{{province['province_id']}}_LET_ROME_PAY">
                            <option value="YES" selected>Let Rome pay if negative</option>
                            <option value="NO">Let Senator pay if negative</option>
                        </select>
                    </div>
                    {% else %}
                    <div class="controls">
                        This province is being overrun by Barbarian raids and/or Internal Disorder
                    </div>
                    {% endif %}
            </div>
        {% endfor %}
        </fieldset>
    {% endif %}
    
    {# Rebel legions maintenance #}
    {% if output['rebels']|length > 0 %}
        {{output['text']['rebels']}}<br>
        {% for rebel in output['rebels'] %}
                {{rebel['name']}} must maintain {{rebel['nbLegions']}} legions, of which {{rebel['loyal']}} veterans are loyal to him and {{rebel['notLoyal']}} veterans are loyal to somebody else :<br>
                {% for legion in rebel['list'] %}
                    {{legion.name}}
                {#
                    TO DO : legion-per-legion interface
                    Legion name , Veteran or not , loyal to the senator or not, if NOT free give a list of 5 options :
                    Maintenance priority : Party, Personal, Disband | Personal,Party,Disband | Party,Disband | Personal,Disband | Disband
                #}
                {% endfor %}
        {% endfor %}
    {% endif %}
        <button type="submit" class="btn btn-info">DONE</button>
    </form>
    
{# sub phase : Redistribution - waiting for other players #}
{% elseif output['state']=='Redistribution - Waiting' %}
    Sub phase : Redistribution<br>
    Waiting for : {{output['text']}}

{# sub phase : Redistribution - playing #}
{% elseif output['state']=='Redistribution - Playing' %}
    Sub phase : Redistribution<br>
    <form class="form-horizontal" id="redistribution" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'revenue_Redistribution'} ) }}">
        <fieldset>
            Give from 
            <select id="fromRaw" name="fromRaw" onClick="updateRedistributionAmount();">
                {% for listRedistribute in output['redistribution'] %}
                    {% if listRedistribute['list']=='from' %}
                    <option value="{{listRedistribute['type']}}|{{listRedistribute['id']}}|{{listRedistribute['treasury']}}">
                        {{(( listRedistribute['type']=='party' and listRedistribute['id']==user_id) ? 'Party treasury' : listRedistribute['name'])}}
                    </option>
                    {% endif %}
                {% endfor %}
            </select>
            to
            <select id="toRaw" name="toRaw">
                {% for listRedistribute in output['redistribution'] %}
                    {% if listRedistribute['list']=='to' %}
                    <option value="{{listRedistribute['type']}}|{{listRedistribute['id']}}">
                        {{(( listRedistribute['type']=='party' and listRedistribute['id']==user_id) ? 'Party treasury' : listRedistribute['name'])}}
                    </option>
                    {% endif %}
                {% endfor %}
            </select>
            amount
            <select id="amount" name="amount">
            </select>
        </fieldset>
        <br>
    <button type="submit" class="btn btn-sucess">TRANSFER</button>
    </form>
    <form class="form-horizontal" id="redistribution" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'revenue_RedistributionFinished'} ) }}">
        <button type="submit" class="btn btn-danger">DONE</button>
    </form>
    
{# sub phase : Contributions - waiting for other players #}
{% elseif output['state']=='Contributions - Waiting' %}
    Sub phase : Contributions<br>
    Waiting for : {{output['text']}}

{# sub phase : Contributions - playing #}
{% elseif output['state']=='Contributions - Playing' %}
    Sub phase : Contributions<br>
    <form class="form-horizontal" id="contributions" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'revenue_Contributions'} ) }}">
        <fieldset>
    Give from 
            <select id="senator" name="senator" onClick="updateContributionAmount();">
                {% for list in output['contributions'] %}
                <option value="{{list['senatorID']}}|{{list['treasury']}}">
                    {{list['name']}}
                </option>
                {% endfor %}
            </select>
    amount
            <select id="amount" name="amount">
            </select>
        </fieldset>
        <br>
        <button type="submit" class="btn btn-sucess">GIVE TO ROME</button>
    </form>
    <form class="form-horizontal" id="redistribution" method="POST" action="{{ path('Action' , {'game_id' : game_id , 'action' : 'revenue_Finished'} ) }}">
        <button type="submit" class="btn btn-danger">DONE</button>
    </form>

{% endif %}