{% extends layout_template  %}

{% block title %}List games{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>List Games</h1>
    </div>
    
    {% if nb_games == 1 %}
        <h4>{{ nb_games }} game found</h4>
    {% elseif nb_games > 1%}
        <h4>{{ nb_games }} games found</h4>
    {% else %}
        <h4>No game found</h4>
    {% endif %}
        
    {% if nb_games > 0 %}
        <br>
        
        <div class="span12">
            <table class="table table-bordered table-hover table-condensed">
                <tr>
                    <th>
                        ID
                        <a href="{{path(app.request.attributes.get('_route'),app.request.query.all|merge({'order_by': 'game_id' , 'order_direction' : 'DESC'})) }}"><i class="icon-chevron-down"></i></a>
                        <a href="{{path(app.request.attributes.get('_route'),app.request.query.all|merge({'order_by': 'game_id' , 'order_direction' : 'ASC'})) }}"><i class="icon-chevron-up"></i></a>
                    </th>
                    <th>
                        Name
                        <a href="{{path(app.request.attributes.get('_route'),app.request.query.all|merge({'order_by': 'name' , 'order_direction' : 'DESC'})) }}"><i class="icon-chevron-down"></i></a>
                        <a href="{{path(app.request.attributes.get('_route'),app.request.query.all|merge({'order_by': 'name' , 'order_direction' : 'ASC'})) }}"><i class="icon-chevron-up"></i></a>
                    </th>
                    <th>
                        Scenario
                        <a href="{{path(app.request.attributes.get('_route'),app.request.query.all|merge({'order_by': 'scenario' , 'order_direction' : 'DESC'})) }}"><i class="icon-chevron-down"></i></a>
                        <a href="{{path(app.request.attributes.get('_route'),app.request.query.all|merge({'order_by': 'scenario' , 'order_direction' : 'ASC'})) }}"><i class="icon-chevron-up"></i></a>
                    </th>
                    <th>
                        # of players
                        <a href="{{path(app.request.attributes.get('_route'),app.request.query.all|merge({'order_by': 'nbPlayers' , 'order_direction' : 'DESC'})) }}"><i class="icon-chevron-down"></i></a>
                        <a href="{{path(app.request.attributes.get('_route'),app.request.query.all|merge({'order_by': 'nbPlayers' , 'order_direction' : 'ASC'})) }}"><i class="icon-chevron-up"></i></a>
                    </th>
                    <th>
                        Created
                        <a href="{{path(app.request.attributes.get('_route'),app.request.query.all|merge({'order_by': 'time_created' , 'order_direction' : 'DESC'})) }}"><i class="icon-chevron-down"></i></a>
                        <a href="{{path(app.request.attributes.get('_route'),app.request.query.all|merge({'order_by': 'time_created' , 'order_direction' : 'ASC'})) }}"><i class="icon-chevron-up"></i></a>
                    </th>
                    <th>
                        Current status
                    </th>
                    <th>
                        Join/Play
                    </th>
                    <th>
                        Load debug
                    </th>
                    {% if is_admin %}
                    <th>
                    </th>
                    {% endif %}
                </tr>
                
        {% for game in games %}

                <tr>
                    <td><b>{{ game.game_id}}</b></td>
                    <td>
                        {% if game.status == 'Pre-game' %}
                            <a href="{{ path('ViewGame' , {'game_id' : game.game_id }) }}"><strong>{{ game.name}}</strong></a>
                        {% elseif ((game.status != 'Pre-game') and (game.alreadyJoined == 1) ) %}
                            <a href="{{ path('Action' , {'game_id' : game.game_id }) }}">{{ game.name}}</a>
                        {% else %}
                            {{ game.name}}
                        {% endif %}
                    </td>
                    <td>{{ game.scenario}}</td>
                    <td><div style="font-weight:bold ; color: {{ (game.nbPlayers < 3) ? 'red' : 'blue'}};">{{ game.nbPlayers}}</div></td>
                    <td>{{ game.time_created|date('Y/m/d (H:i:s)')}}</td>
                    <td>{{ game.status}}</td>
                    <td>
                        {% if ( (game.nbPlayers<6) and (game.status == 'Pre-game') and (game.alreadyJoined == 0)) %}
                            <a href="{{ path('JoinGame' , {'game_id' : game.game_id }) }}"><i class="icon-share-alt"></i>Join</a>
                        {% elseif ((game.status != 'Pre-game') and (game.alreadyJoined == 1) ) %}
                            <a href="{{ path('Action' , {'game_id' : game.game_id }) }}"><i class="icon-hand-right"></i>Play</a>
                        {% elseif (game.alreadyJoined == 1) %}
                            <i class="icon-ban-circle"></i> Already joined
                        {% else %}
                            <i class="icon-ban-circle"></i> Game {{ (game.status != 'Pre-game') ? 'started' : 'full'}}
                        {% endif %}
                            
                    </td>
                    <td>
                        {% if saved_games[game.game_id] is defined %}
                        <form class="form-horizontal" method="POST" action="{{ path('Load' , {'game_id' : game.game_id } ) }}">
                            <select name="SavedGame">
                                {% for save in saved_games[game.game_id] %}
                                <option value="{{save['time_saved']}}">Turn {{save['turn']}} - {{save['phase']}} - {{save['subPhase']}} - {{save['time_saved']|number_format(0,'','')|date('Y/m/d (H:i:s)')}}<options>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-info">LOAD</button>
                        </form>
                        {% endif %}
                    </td>
                    {% if is_admin %}
                    <td>
                        <form class="form-horizontal" method="POST" action="{{ path('Delete' , {'game_id' : game.game_id } ) }}">
                            <a class="btn btn-danger">DELETE</a>
                        </form>
                    </td>
                    {% endif %}
                </tr>

        {% endfor %}

            </table>
        </div>
    {% endif %}

{% endblock %}
